Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g36, pull requests merged in 2024-10, with the labels that each got.

#41 Add docker containerisation to question service and user service backend
  question-service/.dockerignore
  question-service/Dockerfile
  question-service/README.md
  question-service/package.json
  user-service/.dockerignore
  user-service/Dockerfile
  user-service/README.MD
  user-service/package.json
Labels: backend, setup

#33 Login Page, Signup Page and Forgot Password Page
  frontend/src/api/user-service/UserService.ts
  frontend/src/components/common/DisplayedMessage.tsx
  frontend/src/components/common/PageHeader.tsx
  frontend/src/components/user-service/UserServiceCommonContainer.tsx
  frontend/src/components/user-service/forgot-password-page/EmailAddressInputField.tsx
  frontend/src/components/user-service/forgot-password-page/ForgotPasswordButton.tsx
  frontend/src/components/user-service/forgot-password-page/ForgotPasswordForm.tsx
  frontend/src/components/user-service/login-page/CaptchaField.tsx
  frontend/src/components/user-service/login-page/LoginButton.tsx
  frontend/src/components/user-service/login-page/LoginForm.tsx
  frontend/src/components/user-service/login-page/PasswordInputField.tsx
  frontend/src/components/user-service/login-page/UsernameInputField.tsx
  frontend/src/components/user-service/signup-page/InputFieldWithTip.tsx
  frontend/src/components/user-service/signup-page/SignupButton.tsx
  frontend/src/components/user-service/signup-page/SignupForm.tsx
  frontend/src/pages/user-service/ForgotPasswordPage.tsx
  frontend/src/pages/user-service/LoginPage.tsx
  frontend/src/pages/user-service/SignupPage.tsx
Labels: frontend, user-service

#56 Setup matching service backend
  compose.yaml
  matching-service/.dockerignore
  matching-service/.env.example
  matching-service/.gitignore
  matching-service/Dockerfile
  matching-service/README.md
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/src/config.ts
  matching-service/src/main.ts
  matching-service/src/model/MatchingManager.ts
  matching-service/src/model/MatchingQueue.ts
  matching-service/src/routes/MatchingRoute.ts
  matching-service/tsconfig.json
Labels: backend, setup, matching-service

#58 Use token to identify users in the basic matching backend
  matching-service/src/model/MatchingManager.ts
  matching-service/src/model/MatchingQueue.ts
  matching-service/src/routes/MatchingRoute.ts
Labels: backend, matching-service

#57 Use token to identify users in the frontend
  frontend/src/api/user-service/UserService.ts
  frontend/src/components/common/PageHeader.tsx
  frontend/src/components/user-service/login-page/LoginForm.tsx
  frontend/src/contexts/AuthContext.tsx
Labels: frontend, user-service

#52 Add dockerfile to frontend
  compose.yaml
  frontend/Dockerfile
Labels: frontend, setup

#64 Fix bug where invalid question IDs are treated as valid
  question-service/src/routes/questionsRoute.ts
  question-service/src/utils/parseQuestionId.ts
Labels: bug, backend, question-service

#69 [User Service] Add isAdmin property to User model
  user-service/src/controllers/userController.ts
  user-service/src/middlewares/protectRoute.ts
  user-service/src/models/userModel.ts
  user-service/src/routes/userRoute.ts
Labels: backend, user-service

#61 Add return to question list button for ViewQuestionPage
  frontend/src/components/common/MainContainer.tsx
  frontend/src/pages/question-service/ViewQuestionPage.tsx
Labels: frontend, question-service

#55 Matching Frontend
  frontend/src/App.tsx
  frontend/src/api/matching-service/MatchingService.ts
  frontend/src/components/matching-service/DifficultySelectionBox.tsx
  frontend/src/components/matching-service/SpinningCircle.tsx
  frontend/src/components/matching-service/StartMatchingForm.tsx
  frontend/src/pages/collaboration-service/CollaborationPage.tsx
  frontend/src/pages/matching-service/GetReadyPage.tsx
  frontend/src/pages/matching-service/MatchingFailedPage.tsx
  frontend/src/pages/matching-service/StartMatchingPage.tsx
  frontend/src/pages/matching-service/WaitForMatchingPage.tsx
Labels: frontend, matching-service

#72 [Question Service] Allow deselection in topic selector
  frontend/src/components/question-service/edit-question-page/QuestionTopicsField.tsx
Labels: bug, frontend, question-service

#74 Add broad categories per project document
  question-service/src/models/questionTopics.ts
Labels: question-service

#84 Matching Service: Match users by ID instead of token & Reinstate cancel button
  frontend/src/api/matching-service/MatchingService.ts
  frontend/src/components/matching-service/StartMatchingForm.tsx
  frontend/src/pages/matching-service/WaitForMatchingPage.tsx
  matching-service/src/controllers/matchingController.ts
  matching-service/src/model/queue.ts
  matching-service/src/model/user.ts
  matching-service/src/routes/routes.ts
  matching-service/src/utils/userStore.ts
Labels: backend, matching-service
