Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g36, pull requests merged in 2024-09, with the labels that each got.

#15 Setup React frontend
  .gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/components.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/api/question-service/QuestionService.ts
  frontend/src/api/user-service/UserService.ts
  frontend/src/assets/react.svg
  frontend/src/components/common/PageHeader.tsx
  frontend/src/components/question-service/QuestionInputField.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/user-service/UsernameInputField.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: frontend, setup

#24 Add login, password reset and logout routes
  user-service/.env.sample
  user-service/db/connectDB.ts
  user-service/package-lock.json
  user-service/package.json
  user-service/server.ts
  user-service/src/middlewares/tokenBlacklistCheck.ts
  user-service/src/models/blacklistModel.ts
  user-service/src/models/userModel.ts
  user-service/src/routes/authenticationRoute.ts
  user-service/utils/config.ts
Labels: backend, user-service

#22 Add design for question list
  frontend/README.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/question-service/Question.ts
  frontend/src/api/question-service/QuestionService.ts
  frontend/src/components/common/PageAccountNav.tsx
  frontend/src/components/common/PageHeader.tsx
  frontend/src/components/question-service/Difficulty.tsx
  frontend/src/components/question-service/list-question-page/FilterPopover.tsx
  frontend/src/components/question-service/list-question-page/ListQuestionTable.tsx
  frontend/src/components/question-service/list-question-page/TopicView.tsx
  frontend/src/components/ui/SearchInput.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/index.css
  frontend/src/pages/question-service/ListQuestionPage.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
  question-service/package-lock.json
  question-service/package.json
  question-service/src/index.ts
Labels: frontend, backend, question-service
